package org.jboss.as.console.client.shared;

import com.google.web.bindery.autobean.shared.AutoBean;
import com.google.web.bindery.autobean.shared.AutoBeanFactory;

public interface BeanFactory extends
    <#list extensions as ext>
        ${ext},
    </#list>
    AutoBeanFactory {

    // NOTE: this class was generated. don't modify it manually.
}