package org.jboss.as.console.client.core.gin;

import com.google.gwt.inject.client.GinModules;
import com.google.gwt.inject.client.Ginjector;

@GinModules(CompositeBinding.class)
public interface Composite extends
    <#list extensions as ext>
        ${ext},
    </#list>
    Ginjector {

    // NOTE: this class was generated. don't modify it manually.
}