package org.jboss.as.console.client.core.gin;

import com.gwtplatform.mvp.client.gin.AbstractPresenterModule;

public class CompositeBinding extends AbstractPresenterModule {
    protected void configure() {
        <#list extensions as ext>
            install(new ${ext.getType()}());
        </#list>


        // NOTE: this class was generated. don't modify it manually.
    }
}