out
*.iml
target
.DS_Store
.idea
build.number
*.bak
gwt-unitCache

build/app/war
build/war

gui/war/WEB-INF
gui/war/app
gui/war/dmr_gwt
gui/src/main/java/upload-proxy.properties
gui/src/main/java/gwt-proxy.properties

gui/generated
gui/war/treelayout/clear.cache.gif
gui/war/treelayout/hosted.html
gui/war/treelayout/treelayout.nocache.js

openshift