out
*.iml
target
.DS_Store
.idea
build.number
*.bak

gui/war/WEB-INF
gui/war/app
gui/war/dmr_gwt
gui/src/main/java/org/jboss/as/console/App.gwt.xml
gui/src/main/java/upload-proxy.properties
gui/src/main/java/gwt-proxy.properties

gui/generated
