
package org.jboss.as.console.client.core.gin;

// Inherits base project components from core UI
public class PluginsModule extends CoreUIModule {

    protected void configure() {
        super.configure();

        // TODO: Install extension modules
    }
}