.cellBrowserWidget {
    border: 1px solid rgb(220, 220, 220);
    border-radius: 4px;
}

.cellBrowserColumn {
}

.cellBrowserFirstColumn {
}

.cellBrowserEvenItem, .cellBrowserOddItem {
    padding: 8px 8px 8px 12px;
    zoom: 1;
}

.cellBrowserEvenItem:hover, .cellBrowserOddItem:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.cellBrowserKeyboardSelectedItem {
    border: 1px dotted rgb(63, 63, 63);
    outline: medium none;
}

.cellBrowserSelectedItem {
    background-color: rgb(238, 244, 249);
    background-image: url("app/images/activerow.png");
    background-position: left center;
    background-repeat: no-repeat;
    border: none;
    height: auto;
    overflow: hidden;
}

.cellBrowserOpenItem {
}
