.page-header {
    background-color: #3B4D64;

    color:white;
}

body {
    background: #f8f8f8;
}

#container {
    max-width: 860px;
    background: #A7ABB4;
    border-right: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
    margin-left:auto;
    margin-right:auto;
}

.default-window {
    max-width: 860px;
}

.popupContent > div {
    max-width: 860px;
}


.main-content-panel {
    background-color: #ffffff;
    border-bottom:1px solid #A7ABB4;
    margin:6px 2px 2px 2px;
}

.header-panel {
    min-height:58px;
    height:58px;
    width:100%;
    background-color: #3B4D64;
}
.footer-panel {
    min-height:25px;
    height:25px;
    width:100%;
/*background-image: url(http://127.0.0.1:8888/images/sc/skins/Enterprise/images/ToolStrip/background.png);*/

}

.footer-item {
    border-right:1px solid #C0C0C0;
    padding-right:10px;
}

.footer-item-right {
    border-left:1px solid #C0C0C0;
    padding-left:10px;
}

.header-logo {
    margin:5px;
    margin-left:10px;
}

.header {
    border:none;
}

.header-links {
    float: right;
}

.header-link {
    color:#ffffff;
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
    padding-bottom: 6px;
    padding-left:20px;
}

.header-link:hover {
    text-decoration: none;
}

.header-link-selected {
    font-weight: BOLD;
    background-image: url('images/header/header_arrow_blue.png');
    background-position:70% 100%;
    background-repeat: no-repeat;
}

.header-prod-version {
  padding-top:20px;
  padding-left: 4px;
  font-size: 10pt!important;
  font-weight: BOLD;
  color: #ffffff!important;
}

.logo {
    padding-top:20px;
    padding-left:10px;
}

.message-list-item {
    padding:2px;
    min-height:20px;
    white-space: nowrap;
    text-overflow:ellipsis;
    width:100%;
}

.message-list-item:hover {
    opacity: 1.0!important;
}


.message-list-item-odd {

}

.message-list-item-old {
    opacity: 0.6;
}

.notification-button {
    font-size:12px;
    color:#ffffff;
    cursor:pointer;
}

.message-notification {
    color:#ffffff;
    font-size:12px;
    white-space: nowrap;
    text-overflow:ellipsis;
    cursor:pointer;
    padding-top:4px;
}

.combobox-item:hover {
    background-color:#d9e4f6!important;
}

.combobox-item-odd {
    background-color:#fafafa!important;
}

.InfoBlock,.ConfirmationBlock,.WarnBlock,.ErrorBlock,.FatalBlock {
    border-width: 1px;
    border-style: solid;
    color: #000000;
    padding-left:10px;
    padding-top:4px;

    -moz-box-shadow: 3px 3px 4px #c3c3c3;
    -webkit-box-shadow: 3px 3px 4px #c3c3c3;
    box-shadow: 3px 3px 4px #c3c3c3;

    -moz-border-radius: 4px;
    border-radius: 4px;
}

.InfoBlock,.ConfirmationBlock {
    background-color: #BFF1B5; /* light green */
    border-color: #00AC3D; /* medium green */
}

.WarnBlock {
    background-color: #FFFD99; /* light yellow */
    border-color: #FF9C15; /* medium orange */
}

.ErrorBlock {
    background-color: #FF9999; /* light red */
    border-color: #EE4444; /* medium red */
}

.FatalBlock {
    background-color: #FF6666; /* slightly darker light red */
    border-color: #EE1111; /* slightly darker medium red */
}

.host-selector {

}

.host-selector-header {
    background: url(images/blue_bg.png)!important;
    color:white;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:10px;
    font-weight: bold;
}

#host-selector-content {
    padding-left:10px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
}

.profile-selector {
    padding:2px;
    border-top:1px solid #A7ABB4;
    font-weight:bold;
    color:#4A5D75;
    vertical-align:middle;
    text-align:center;
}


.expression-cell{
    background-image: url("images/icons/expr.png");
    background-repeat:no-repeat;
    background-position-right:0px 50%;
}

.loading-panel {
    position: relative;
    margin-top:200px;
    margin-left:auto;
    margin-right:auto;
    height:50px;
    width:100px;
    border: 1px solid #A7ABB4;
    background-color: #ffffff;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.content-description {

    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 15px;

    color: #333333;
    font-family: arial,tahoma,verdana,sans-serif;
    font-size: 11px;
    line-height: 1.4;

}

.link-bar {
    padding-left:8px;
    padding-right:8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 1px solid #4A5D75;
    text-decoration: underline;
    font-size: 14px;
}

.link-bar-first {
    border: none!important;
}

.link-bar-active {
    text-decoration: none!important;
    color:#000000!important;
}

.link-bar-active>a {
    text-decoration: none!important;
    color:#000000!important;
}

.paged-view-navigation {
    -moz-box-shadow: 0px -0px 7px #c3c3c3;
    -webkit-box-shadow: 0px -0px 7px #c3c3c3;
    box-shadow: 0px -0px 7px #c3c3c3;
}

