
/* *[tabindex] {
    border: 1px dashed green;

*:focus {
    border: 1px solid red;
}

button:focus {
    border: 2px solid orange;
}
   */

.cellListKeyboardSelectedItem {
    border: 1px dotted #3F3F3F!important;
}


.default-cell-table .cellTableKeyboardSelectedRowCell {

    border-top: 1px dotted #3F3F3F!important;
    border-bottom: 1px dotted #3F3F3F!important;
}

.default-cell-table .cellTableKeyboardSelectedRow .cellTableFirstColumn{
    border-left: 1px dotted #3F3F3F!important;
}

.default-cell-table .cellTableKeyboardSelectedRow .cellTableLastColumn{
    border-right: 1px dotted #3F3F3F!important;
}

.gwt-TreeItem-selected {
    border: 1px dotted #3F3F3F!important;
}

.lhs-tree-item-selected .gwt-TreeItem-selected {
    border:none!important;
}

a:hover, a:active { outline: none; }



.inline-link a:hover {
    text-decoration: underline;
    outline:none!important;
}

.help-panel {
    padding-left: 10px;
    padding-right: 10px;
}

.help-panel-header {
    text-decoration: underline;
    font-size:10px;
    float:right;
    line-height:10px;
}

.help-attribute-descriptions {
    padding-top:5px;
}


.tree-section:focus {
    outline: 0px;
}

.gwt-TabPanelBottom {
    padding-top:10px;
}

.default-toolstrip {
    width:100%;
    height:20px;
    padding: 4px 10px 4px 10px!important;
    background:none!important;
}

.content-group-label {
    font-weight:BOLD;
    color: #A4A4A4;
    font-size:14px!important;
    height:18px;
    width:100%;
    padding-left:0px!important;
    padding-bottom:0px;
    margin-bottom:10px;
    padding-top:10px;
}


.gwt-SuggestBox
{
    text-align                  :    left;
}
.gwt-SuggestBoxPopup
{
    text-align                   :    left;
    border: 1px solid #A7ABB4;
    background-color:#ffffff;
    padding:4px;

    -moz-box-shadow: 2px 2px 3px #000000;
    -webkit-box-shadow: 2px 2px 3px #000000;
    box-shadow: 2px 2px 3px #000000;

    z-index:20;

}
.gwt-SuggestBoxPopup .item
{
}

.gwt-SuggestBoxPopup .item-selected
{
    border: 1px dotted #3F3F3F!important;
    background-color:#ffffff;
}


/* doc browser */

.doc-table {
    width:96%;
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 4px 4px 4px 4px;
    color: black;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    margin-left:5px;
    margin-right:5px;
}

.doc-table tr:hover {
    background-color: #e5e5e5;
}

.doc-attribute {
    font-weight: BOLD;
    color: #3B4D64;
}

.doc-child {
    font-weight: BOLD;
    color: #3B4D64;
}

.doc-description {
    font-size: 14px !important;
    padding-bottom: 8px;
}

.doc-address{
    font-weight: BOLD;
    color: #3B4D64;
    font-size: 16px !important;
    padding-bottom: 8px;
}

.doc-table-description td {
    border-bottom: 1px solid #DCDCDC;
}

.doc-table-description:last-child td {
    border-bottom: none;
}

input[type="checkbox"] {
    width: 15px!important;
}

.browser-tree {
    padding-top:15px;
}
.browser-tree .gwt-TreeItem {
    color: #404040;
}

.browser-tree .gwt-TreeItem-selected {
    font-weight: BOLD;
    color: #000000;
}

.model-dump {
    border: 1px solid #DCDCDC;
    border-radius: 4px 4px 4px 4px;
    color: black;
    font-family: Arial,Verdana,sans-serif;
    font-size: 13px;
    margin-left:5px;
    margin-right:5px;
    padding:10px;
    line-height: 1.4!important;
}

.browser-dump-line:hover {
    background-color: #e5e5e5;
}

.expression-icon {
    cursor: pointer;
}

.jndi-tree {
    width:100%;
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 4px 4px 4px 4px;
    color: black;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    margin-left:5px;
    margin-right:5px;
}

.cellTreeKeyboardSelectedItem {
    border: 1px dotted #3F3F3F!important;
}

.cellTreeTopItemImageValue {
    border:none!important;
}

.paged-view-navigation {
    /* fallback */
    background-color: #F3F3F3;

    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#F3F3F3));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #ffffff, #F3F3F3);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #ffffff, #F3F3F3);

    /* IE 10 */
    background: -ms-linear-gradient(top, #ffffff, #F3F3F3);

    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #ffffff, #F3F3F3);

    border-bottom: 1px solid #D6D6D6;
    padding-left: 10px;
}

/* speech bubbles */
.triangle-border:before {
    content:"";
    position:absolute;
    bottom:-10px; /* value = - border-top-width - border-bottom-width */
    left:40px; /* controls horizontal position */
    border-width:10px 10px 0;
    border-style:solid;
    border-color:#A7ABB4 transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
    content:"";
    position:absolute;
    bottom:-8px; /* value = - border-top-width - border-bottom-width */
    left:42px; /* value = (:before left) + (:before border-left) - (:after border-left) */
    border-width:8px 8px 0;
    border-style:solid;
    border-color:#fff transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

/* Variant : top
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.top:before {
    top:-10px; /* value = - border-top-width - border-bottom-width */
    bottom:auto;
    left:auto;
    right:40px; /* controls horizontal position */
    border-width:0 10px 10px;
}

/* creates the smaller  triangle */
.triangle-border.top:after {
    top:-8px; /* value = - border-top-width - border-bottom-width */
    bottom:auto;
    left:auto;
    right:42px; /* value = (:before right) + (:before border-right) - (:after border-right) */
    border-width:0 8px 8px;
}

/* creates the larger triangle */
.triangle-border.top-left:before {
    top:-10px; /* value = - border-top-width - border-bottom-width */
    bottom:auto;
    left:40;
    right:auto; /* controls horizontal position */
    border-width:0 10px 10px;
}

/* creates the smaller  triangle */
.triangle-border.top-left:after {
    top:-8px; /* value = - border-top-width - border-bottom-width */
    bottom:auto;
    left:42px;
    right:auto; /* value = (:before right) + (:before border-right) - (:after border-right) */
    border-width:0 8px 8px;
}

/* Variant : left
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.left:before {
    top:10px; /* controls vertical position */
    bottom:auto;
    left:-30px; /* value = - border-left-width - border-right-width */
    border-width:15px 30px 15px 0;
    border-color:transparent #A7ABB4;
}

/* creates the smaller  triangle */
.triangle-border.left:after {
    top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
    bottom:auto;
    left:-21px; /* value = - border-left-width - border-right-width */
    border-width:9px 21px 9px 0;
    border-color:transparent #fff;
}

/* Variant : right
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.right:before {
    top:10px; /* controls vertical position */
    bottom:auto;
    left:auto;
    right:-30px; /* value = - border-left-width - border-right-width */
    border-width:15px 0 15px 30px;
    border-color:transparent #A7ABB4;
    border-color:transparent #A7ABB4;
}

/* creates the smaller  triangle */
.triangle-border.right:after {
    top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
    bottom:auto;
    left:auto;
    right:-21px; /* value = - border-left-width - border-right-width */
    border-width:9px 0 9px 21px;
    border-color:transparent #fff;
}


/*----------------------------- new domain topology */
.domainOverviewHeader {
    text-align: left;
    padding: 5px;
    font-weight: bold;
}
.domainOverviewCell {
    padding: 5px;
    transition: color .66s ease-out, background-color .66s ease-out;
    -moz-transition: color .66s ease-out, background-color .66s ease-out;
    -webkit-transition: color .66s ease-out, background-color .66s ease-out;
}
.hostNavigation {
    font-weight: bold;
    cursor: pointer;
}
.serverGroup0, .serverGroup0_light:hover {
    color: #fff;
    background-color: rgb(59,77,100);
}
.serverGroup0_light {
    color: #000;
    background-color: rgba(59,77,100,.2);
}
.serverGroup1, .serverGroup1_light:hover {
    background-color: rgb(189,237,230);
}
.serverGroup1_light {
    background-color: rgba(189,237,230,.2);
}
.serverGroup2, .serverGroup2_light:hover {
    color: #fff;
    background-color: rgb(65,71,76);
}
.serverGroup2_light {
    color: #000;
    background-color: rgba(65,71,76,.2);
}
.serverGroup3, .serverGroup3_light:hover {
    background-color: rgb(91,131,190);
}
.serverGroup3_light {
    background-color: rgba(91,131,190,.2);
}
.serverGroup4, .serverGroup4_light:hover {
    color: #fff;
    background-color: rgb(107,10,18);
}
.serverGroup4_light {
    color: #000;
    background-color: rgba(107,10,18,.2);
}