.cellListSelectedItem {
    background-color: #EEF4F9;
    color: #000000;
    height: auto;
    overflow: visible;
}


.header-link {
    cursor: pointer;
    font-size: 14px!important;
    text-decoration: none;
    padding-bottom: 0px!important;
    padding-left:20px;
    height: 24px;
}

.notification-panel {
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 100%;
    color: black;
    font-size:10px!important;
}