
body, p, td, th, option, input, textarea, select {
    color: #000000;
    font-family: tahoma, verdana, sans-serif !important;
    font-size: 11px !important;
}

a {
    outline : none;
    text-decoration: none;
}

a:active {
    outline : none;
}

a:link {
    outline : none;
}

a:focus {
  -moz-outline-style: none;
}

.main-content-panel {
    border-bottom:1px solid #A7ABB4;
    margin-top:2px;
}

.header-panel {
    min-height:64px;
    height:64px;
    width:100%;
}
.footer-panel {
    min-height:30px;
    height:30px;
    width:100%;
/*background-image: url(http://127.0.0.1:8888/images/sc/skins/Enterprise/images/ToolStrip/background.png);*/

}

.footer-item {
    border-right:1px solid #C0C0C0;
    padding-right:10px;
}

.footer-item-right {
    border-left:1px solid #C0C0C0;
    padding-left:10px;
}

.loginForm>table
{
    border: 1px solid #A7ABB4;
    padding:0px;
    margin-top:200px;

    -moz-box-shadow: 3px 3px 4px #c3c3c3;
    -webkit-box-shadow: 3px 3px 4px #c3c3c3;
    box-shadow: 3px 3px 4px #c3c3c3;
}

.loginForm>table * td
{
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:2px;

}

.loginForm-header {
    border-bottom: 1px solid #A7ABB4;
    background-color:#FFFFFF;
    background-image: url('images/sc/skins/Enterprise/images/ToolStrip/background.png');
    padding-top:4px;
    padding-bottom:4px;
    padding-left:10px;
    height:20px;
    color:#4A5D75;
}

.header-logo {
    margin:5px;
    margin-left:10px;
}

.header {
    border:none;
    /*background-color:#FFFFFF;
    background-image:url("images/sc/skins/Enterprise/images/ToolStrip/background.png");*/
}

.header-links {
    float: right;
    -moz-box-shadow: 3px 3px 4px #c3c3c3;
    -webkit-box-shadow: 3px 3px 4px #c3c3c3;
    box-shadow: 3px 3px 4px #c3c3c3;
    margin-right:4px;
    margin-bottom:4px;
    border-bottom:1px solid #C0C0C0;
}

.header-link {
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
    background-color:#F8F8F8;
}

.header-link:hover {
    text-decoration: underline;
}

.header-link-selected {
    background-image: url('images/header/header_bg_selected.png');
    color: white;
}

.description-label {
    font-size:1em!important;
    color:#C0C0C0;
}

.content-header-label {
    font-weight:BOLD;
    color: #4A5D75;
    font-size:16px!important;
    padding-bottom:8px;
}

.content-group-label {
    font-weight:BOLD;
    color: #A4A4A4;
    font-size:14px!important;
    height:20px;
    width:100%;
    padding-bottom:0px;
    margin-bottom:10px;
    padding-top:20px;
    border-bottom:1px solid #E0E0E0;
}

.inline-toolstrip {
    height:10px;
    opacity: .5;
}

.inline-toolstrip:hover {
    opacity: 1;
}


/* CellTable customization */

.default-cell-table{
    font-family:Arial, Verdana, sans-serif;
    font-size:11px;
    color: black;
    border: 1px solid #A7ABB4;
    width:100%;
}

.cellTableHeader {
    background:#FFFFFF url('images/sc/skins/Enterprise/images/ListGrid/header.png') repeat-x bottom left scroll;
    border-bottom:1px solid #A7ABB4;
    padding:4px;
    border-left:1px solid rgb(246,247,249);
    border-right:1px solid rgb(200,204,207);
    height:13px;
    font-weight:normal!important;
    text-align:left!important;
}

.cellTableEvenRow {

}

.cellTableOddRow {
    border-top: 1px solid #e5e5e5;
    background-color:#fafafa;
}

.cellTableCell {
    padding:5px;
}

.cellTableHoveredRow {
    background-color:#d9e4f6;
}

.cellTableSelectedRow {
    background:#d9e4f6;
}

/*edit mode*/
.cellTableKeyboardSelectedRow {
/*background:none; doesn't work atm */
}

.section-stack {
    width:99%;
    margin:0px;
    border-left:1px solid #A7ABB4;
    border-right:1px solid #A7ABB4!important;
}

.stack-section-header {
    font-family:Arial,Verdana,sans-serif;
    text-overflow:ellipsis;
/*background-image: url('images/sc/skins/Enterprise/images/SectionHeader/header_Disabled_closed_stretch.png');*/
    background-color:#F8F8F8;
    padding-left:10px;
    padding-top:2px;
    padding-bottom:2px;
    width:100%;
    color:#606060;
    border-top:1px solid #A7ABB4;
    cursor:pointer;
}

.stack-section-header-selected {
/*background-image: url('images/sc/skins/Enterprise/images/SectionHeader/header_closed_stretch.png');*/
    color:#000;
}

.stack-section-header-inline {
    font-family:Arial,Verdana,sans-serif;
    text-overflow:ellipsis;
    background-color:#F8F8F8;
    padding-left:10px;
    padding-top:6px;
    padding-bottom:4px;
    height:20px;
    color:#000;
    font-size:12px;
    border-top:1px solid #A7ABB4;
    border-bottom:1px solid #A7ABB4;
    cursor:pointer;
}

.stack-section {
    border-top:1px solid #A7ABB4;
    padding-left:0px;
    padding-right:0px;
    margin:0px;
    padding-bottom:15px;
    width:100%;
}
.lhs-nav-item {
    font-family:Arial,Verdana,sans-serif; font-size:11px; text-overflow:ellipsis;
    color:black;
    border-bottom:1px solid #E0E0E0;
    margin-left:15px;
    cursor:pointer;
    width:100%;
    min-height:20px;
}

.lhs-nav-item:hover {
    background-color:#d9e4f6;
}

.title-bar {
    font-family:Arial,Verdana,sans-serif;
    font-size:16px;
    font-weight:bold;
    text-overflow:ellipsis;
    background-image: url('images/sc/skins/Enterprise/images/ToolStrip/background.png');
    padding-left:10px;
    padding-top:6px;
    padding-bottom:6px;
    height:20px;
    width:100%;
    color:#4A5D75;
    border:1px solid #A7ABB4;
}

.form-item-title {
    font-size:8pt;
    padding-right:2px;
    color:#4A5D75;
    font-weight:bold;
    white-space:nowrap;
    text-align:right;
}

.form-item {
    padding-top:8px;
    padding-bottom:8px;
    padding-right:8px;
    padding-left:2px;
    min-width:150px;
}

.default-fieldset {
    margin-top:15px;
    margin-botom:15px;
    border:1px solid #C0C0C0;
}
.default-legend {
    /*padding: 0.2em 0.5em;
    border:1px solid green;
    color:green;
    font-size:90%;
    text-align:right;*/
    color:#C0C0C0;
}


.gwt-SplitLayoutPanel-HDragger {
    cursor:col-resize;
/*background:url(images/sc/skins/Enterprise/images/Splitbar/vsplit_bg.png);*/
    /*border-left:1px solid #A7ABB4;
    border-right:1px solid #A7ABB4!important;*/
    border-left:1px solid #E0E0E0!important;
}

.gwt-SplitLayoutPanel-VDragger {
    cursor:row-resize;
}

.lhs-tree-item {
    cursor:pointer;
    color:#404040;
}

.lhs-tree-item:hover {
    background-color:#d9e4f6;
}

.lhs-tree-item-selected {
    background-color:#d9e4f6;
}

.cell-record {
    border-bottom: 1px solid #A7ABB4;
    height: 20px;
    padding:5px;
}

.cell-list {
    width:98%;
}

.fill-layout {
    width:100%;
    height:100%;
    margin:0px;
}

.fill-layout-width {
    width:100%;
}

.fill-layout-height{
    height:100%;
    margin:0px;
}

.cross-reference {
    padding:4px;
    padding-bottom:8px;
}

.cross-reference:hover {
    text-decoration:underline;
    cursor:pointer;
}

.default-button {
    padding:2px 10px 2px 10px;
    font-size:11px;
    background:#DDDDDD url(images/sc/skins/Enterprise/images/cssButton/button_stretch.png) repeat-x;
    color:#000000;
    border:1px solid #A6ABB4;
    -moz-border-radius: 2px;
    border-radius: 2px;
    white-space:nowrap;
}

.default-button:hover {
    background:#B2D7FF url(images/sc/skins/Enterprise/images/cssButton/button_Over_stretch.png) repeat-x;
}

.default-popup {
    border: 1px solid #A7ABB4;
    background-color:#ffffff;
    padding:4px;

    -moz-box-shadow: 3px 3px 4px #c3c3c3;
    -webkit-box-shadow: 3px 3px 4px #c3c3c3;
    box-shadow: 3px 3px 4px #c3c3c3;
}

.message-list {
    width:100%;
    height:100%;
}

.combobox {
    padding:0px;
    margin:0px;
}

.combobox-value {

    border-left: 1px solid #A7ABB4;
    border-top: 1px solid #A7ABB4;
    border-bottom: 1px solid #A7ABB4;

    vertical-align:middle;

    padding-left:5px;

    height:20px;
    min-height:20px;

    font-size:10px;
    color:#000;

    margin:0px;
}

.combobox-value-disbaled {
    color:#A7ABB4!important;
}

.combobox-item {
    min-height:20px;
    white-space: nowrap;
    text-overflow:ellipsis;
    width:100%;
}

.combobox-item-selected {
    color:#000000!important;
    font-weight:bold;
    background-color:#ffffff!important;
}

.message-list-item {
    padding:2px;
    min-height:20px;
    white-space: nowrap;
    text-overflow:ellipsis;
    width:100%;
}

.message-list-item:hover, .combobox-item:hover {
    background-color:#d9e4f6;
}

.message-list-item-odd, .combobox-item-odd {
    background-color:#fafafa;
}

.InfoBlock,.ConfirmationBlock,.WarnBlock,.ErrorBlock,.FatalBlock {
    border-width: 1px;
    border-style: solid;
    color: #000000;
    padding-left:10px;
    padding-top:4px;

    -moz-box-shadow: 3px 3px 4px #c3c3c3;
    -webkit-box-shadow: 3px 3px 4px #c3c3c3;
    box-shadow: 3px 3px 4px #c3c3c3;

    -moz-border-radius: 4px;
    border-radius: 4px;
}

.InfoBlock,.ConfirmationBlock {
    background-color: #BFF1B5; /* light green */
    border-color: #00AC3D; /* medium green */
}

.WarnBlock {
    background-color: #FFFD99; /* light yellow */
    border-color: #FF9C15; /* medium orange */
}

.ErrorBlock {
    background-color: #FF9999; /* light red */
    border-color: #EE4444; /* medium red */
}

.FatalBlock {
    background-color: #FF6666; /* slightly darker light red */
    border-color: #EE1111; /* slightly darker medium red */
}

.default-window {
    border: 1px solid #A7ABB4;
    background-color:#ffffff;

    -moz-box-shadow: 2px 2px 3px #000000;
    -webkit-box-shadow: 2px 2px 3px #000000;
    box-shadow: 2px 2px 3px #000000;
}

.default-window-header {
    border-bottom: 1px solid #A7ABB4;
    background-color:#FFFFFF;
    background-image: url('images/sc/skins/Enterprise/images/ToolStrip/background.png');
    color:#4A5D75;
}

.default-window-content {
    margin:5px;
}

.gwt-PopupPanelGlass {
    background-color:#A7ABB4;
    filter:alpha(opacity=75);
    opacity:0.75;
}

.default-tabpanel {
    width:100%;
    height:100%;
}

.gwt-TabLayoutPanel
{

}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    border-top: 1px solid #CCCCCC;
    overflow: hidden;
    padding: 6px;
    background: #FFFFFF;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    background-image: url('images/sc/skins/Enterprise/images/Tab/top/tab_stretch.png');
    margin-left: 1px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left:10px;
    padding-right:10px;
    cursor: pointer;
    text-align: center;

    font-family:Arial,Verdana,sans-serif;
    font-size:12px;
    background-color:#CCCCCC;
    border-left:1px solid white;
    border-top:1px solid white;
    border-right:1px solid #808080;
    color:#808080;

    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    background-image: url('images/sc/skins/Enterprise/images/Tab/top/tab_Selected_Disabled_stretch.png');
    cursor: default;
    font-family:Arial,Verdana,sans-serif;
    font-size:12px;
    background-color:#D6D6D6;
    border-left:1px solid white;
    border-top:1px solid #808080;
    border-right:1px solid #808080;
    color:#000000!important;
}


.tab-left {
    width:6px;
    height:27px;
    background-image:url(images/sc/skins/Enterprise/images/Tab/top/tab_Selected_start.png)
}

.tab-title {
    height:27px;
    background-image:url(images/sc/skins/Enterprise/images/Tab/top/tab_Selected_stretch.png);
    padding-left:5px;
    padding-right:5px;
    vertical-align:middle;
    font-size:12px;
    white-space:nowrap;
}

.tab-right {
    width:6px;
    height:27px;
    background-image:url(images/sc/skins/Enterprise/images/Tab/top/tab_Selected_end.png)
}

.header-content {
    font-size:22px;
    font-weight:bold;
    padding-left:10px;
}

.combobox-header {
    width:150px;
}

.combobox-value-header {
    font-size:18px;
    font-weight:bold;
    padding-left:5px;
}

.html-link {
    text-decoration:none;
    color:#4A5D75;
    cursor:pointer;
}

.html-link:hover {
    text-decoration:underline;
}

.default-toolstrip {
    width:100%;
    height:20px;
    padding: 4px 0px 4px 0px;
    background:url('images/sc/skins/Enterprise/images/ToolStrip/background.png') repeat-x;
}

.default-toolstrip-secondary {
    width:100%;
    height:20px;
    padding: 4px 0px 4px 0px;
    background:url('images/sc/skins/Enterprise/images/ToolStrip/background.png') repeat-x;
}

.toolstrip-button {

    /*

    padding:2px 10px 2px 10px;
    font-size:11px;
    background:#DDDDDD url(images/sc/skins/Enterprise/images/cssButton/button_stretch.png) repeat-x;
    color:#000000;
    border:1px solid #A6ABB4;
    -moz-border-radius: 2px;
    border-radius: 2px;
    white-space:nowrap;

    */
    color:#606060!important;
    float: left;
    margin: 0px 6px;
    outline: none;
    text-decoration: none;
    white-space: nowrap;
    border:1px solid #888;
    background:#DDDDDD url(images/buttons/button_bg.gif) repeat-x;
    font-size:10px;
    padding:2px 10px 2px 10px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    cursor:pointer;
}

.toolstrip-button:hover {
    background:#B2D7FF url(images/sc/skins/Enterprise/images/cssButton/button_Over_stretch.png) repeat-x;
    color:#000!important;
}

.row-tools {
    visibility:hidden;
}

.row-tools-enabled {
    visibility:visible;
    cursor:pointer;
    text-decoration:underline;
}

.default-disclosure {
    margin-top:15px;
    margin-bottom:15px;
}

.host-selector {

}

.host-selector-header {
    background-image: url('images/header/header_bg_selected.png');
    color:white;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:10px;
}

#host-selector-content {
    padding-left:10px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
}

.popup-hint {
    font-size:10px;
    color:#000;
    background-color:#FFFFCC;
    padding:4px;
    -moz-box-shadow: 3px 3px 4px #c3c3c3;
    -webkit-box-shadow: 3px 3px 4px #c3c3c3;
    box-shadow: 3px 3px 4px #c3c3c3;

}

.edit-panel {

}


.menu-cell {
    background-color:#ffffff!important;
    border:none!important;
}

.menu-cell:hover {
    background-color:#d9e4f6!important;
}

.vertical-tabpanel-tab {
    padding:4px;
    border-top:1px solid #ffffff;
    border-right:1px solid #A7ABB4;
    border-bottom:1px solid #A7ABB4;
    background-color:#DDDDDD;
}

.vertical-tabpanel-tab-selected {
    border-top:1px solid #ffffff;
    border-right:1px solid #ffffff;
    border-bottom:1px solid #A7ABB4;
    background-color:#ffffff;
}

.vertical-tabpanel-tabs {
    margin-right:5px;
}

.gwt-TabPanel {

}

.gwt-TabBarFirst-wrapper {
    border-bottom:1px solid #A7ABB4;
    border-right:1px solid #808080;
    width:15px;
}

.gwt-TabBarRest-wrapper {
    border-bottom:1px solid #A7ABB4;
}
.gwt-TabPanelBottom {

}
.gwt-TabBar {

}

.gwt-TabBarItem-wrapper {
    background-image: url('images/sc/skins/Enterprise/images/Tab/top/tab_stretch.png');
    margin-left: 1px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left:10px;
    padding-right:10px;
    cursor: pointer;
    text-align: center;
    border-bottom:1px solid #A7ABB4;
    border-left:1px solid #ffffff;
    border-right:1px solid #808080;

    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color:#808080!important;

    min-width:50px;
}

.gwt-TabBarItem-wrapper:hover {
    background-image: url('images/sc/skins/Enterprise/images/Tab/top/tab_Selected_Disabled_stretch.png');
}

.gwt-TabBarItem-wrapper-selected {

    background-image: url('images/sc/skins/Enterprise/images/Tab/top/tab_Selected_Disabled_stretch.png');
    cursor: default;
    font-family:Arial,Verdana,sans-serif;
    font-size:12px;
    background-color:#D6D6D6;
    color:#000000!important;
    border-bottom:1px solid #ffffff!important;
}

.rhs-content-panel {
    width:100%;
    padding:15px;
    padding-bottom: 25px;
}

.title-bar-panel {
    width:100%;
    border-bottom: 1px solid #A7ABB4;
}

.profile-selector {
    padding:2px;
    border-top:1px solid #A7ABB4;
    font-weight:bold;
    color:#4A5D75;
    vertical-align:middle;
    text-align:center;
}

.help-panel {
    width:99%;
    opacity:0.4;filter:alpha(opacity=40)
}

.help-panel:hover {
    opacity:1.0;
}

.help-panel-open {
    background-color: #FFFFCC;
    border:1px solid #cccccc;
     -moz-border-radius: 3px;
    border-radius: 3px;

    -moz-box-shadow: 2px 2px 3px #c3c3c3;
    -webkit-box-shadow: 2px 2px 3px #c3c3c3;
    box-shadow: 2px 2px 3px #c3c3c3;

    opacity:1.0;
}

.window-content {
    width:100%;
    padding-left: 10px;
    padding-right: 10px;
}




