.page-header {
    background: #ffffff;

    background: -moz-linear-gradient(top, #C0C0C0, #ffffff);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
    left top, left bottom, from(#C0C0C0), to(#ffffff));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#C0C0C0', EndColorStr='#ffffff', GradientType=0);


    color:white;
}

body {
    background: #f8f8f8;
}

#container {
    max-width: 860px;
    background: #ffffff;
    border-right: 1px solid #C0C0C0;
}

.default-window {
    max-width: 860px;
}

.popupContent > div {
    max-width: 860px;
}


.main-content-panel {
    border-bottom:1px solid #A7ABB4;
    margin-top:2px;
}

.header-panel {
    min-height:64px;
    height:64px;
    width:100%;
}
.footer-panel {
    min-height:30px;
    height:30px;
    width:100%;
/*background-image: url(http://127.0.0.1:8888/images/sc/skins/Enterprise/images/ToolStrip/background.png);*/

}

.footer-item {
    border-right:1px solid #C0C0C0;
    padding-right:10px;
}

.footer-item-right {
    border-left:1px solid #C0C0C0;
    padding-left:10px;
}

.header-logo {
    margin:5px;
    margin-left:10px;
}

.header {
    border:none;
}

.header-links {
    float: right;
    -moz-box-shadow: 3px 3px 4px #c3c3c3;
    -webkit-box-shadow: 3px 3px 4px #c3c3c3;
    box-shadow: 3px 3px 4px #c3c3c3;
    margin-right:4px;
    margin-bottom:4px;
    border-bottom:1px solid #C0C0C0;
}

.header-link {
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
    background-color:#F8F8F8;
}

.header-link:hover {
    text-decoration: underline;
}

.header-link-selected {
    background-color: #4A5D75;
    background: url(images/blue_bg.png)!important;
    color: white;
    font-weight: BOLD;
}

.logo {
    padding-top:20px;
    padding-left:10px;
}

.message-list-item {
    padding:2px;
    min-height:20px;
    white-space: nowrap;
    text-overflow:ellipsis;
    width:100%;
}

.message-list-item:hover, .combobox-item:hover {
    background-color:#d9e4f6;
}

.message-list-item-odd, .combobox-item-odd {
    background-color:#fafafa;
}

.InfoBlock,.ConfirmationBlock,.WarnBlock,.ErrorBlock,.FatalBlock {
    border-width: 1px;
    border-style: solid;
    color: #000000;
    padding-left:10px;
    padding-top:4px;

    -moz-box-shadow: 3px 3px 4px #c3c3c3;
    -webkit-box-shadow: 3px 3px 4px #c3c3c3;
    box-shadow: 3px 3px 4px #c3c3c3;

    -moz-border-radius: 4px;
    border-radius: 4px;
}

.InfoBlock,.ConfirmationBlock {
    background-color: #BFF1B5; /* light green */
    border-color: #00AC3D; /* medium green */
}

.WarnBlock {
    background-color: #FFFD99; /* light yellow */
    border-color: #FF9C15; /* medium orange */
}

.ErrorBlock {
    background-color: #FF9999; /* light red */
    border-color: #EE4444; /* medium red */
}

.FatalBlock {
    background-color: #FF6666; /* slightly darker light red */
    border-color: #EE1111; /* slightly darker medium red */
}

.host-selector {

}

.host-selector-header {
    background: url(images/blue_bg.png)!important;
    color:white;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:10px;
    font-weight: bold;
}

#host-selector-content {
    padding-left:10px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
}

.profile-selector {
    padding:2px;
    border-top:1px solid #A7ABB4;
    font-weight:bold;
    color:#4A5D75;
    vertical-align:middle;
    text-align:center;
}