
body, p, td, th, option, input, textarea, select {
    color: #000000;
    font-family: 'Arial Unicode MS', Arial, sans-serif!important;
    font-size: 12px!important;
}

.page-header {
    background: #ffffff;

    background: -moz-linear-gradient(top, #3A4E64, #ffffff);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
    left top, left bottom, from(#3A4E64), to(#ffffff));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#3A4E64', EndColorStr='#ffffff', GradientType=0);


    color:white;
}

.header-content {
    color:#ffffff;

}

.header-links {
    float: right;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right:4px;
    margin-bottom:4px;
    border: none;

}

.header-link {
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
    color:white;
    background-color: #3A4E64;
    border-top: 4px solid #3A4E64;
}

.header-link:hover {
    text-decoration: none;
    border-top: 4px solid #fdfcce;
}

.header-link-selected {
    background-image: none;
    color:#ffffff;
    cursor: default;
    border-top: 4px solid #CEDCEA;
}

.stack-section-header {
    background: #CEDCEA;
    border:1px solid #BBB;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0px;
}

.stack-section {
    border-top:none;
    padding-left:0px;
    padding-right:0px;
    margin:0px;
    padding-bottom:15px;
    padding-top:5px;
    width:100%;
}


.lhs-tree-item {
    cursor:pointer;
    color:#404040;
}

.lhs-tree-item:hover {
    background: #fdfcce;
    cursor:pointer;

}

.lhs-tree-item-selected, .lhs-tree-item-selected:hover {
    background:#E5EFF6;
    cursor: default;
}


.profile-selector {
    padding:2px;
    border-top:none;
    border-bottom: 1px solid #A7ABB4;
    font-weight:bold;
    color:#4A5D75;
    vertical-align:middle;
    text-align:center;
}

/*

deselected tabs

.tab-left {
    width:3px;
    height:25px;
    background-image: url(http://design.jboss.org/blip/guvnor-ui/html/resources/images/tab-corner-left.png);
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
}


.tab-title {
    height:25px;

    padding-left:5px;
    padding-right:5px;
    vertical-align:middle;
    font-size:12px;
    font-weight: BOLD;
    white-space:nowrap;

    background-image: url(http://design.jboss.org/blip/guvnor-ui/html/resources/images/tab_bkg.png);
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    background-color: #94A9C1;
}

.tab-right {
    width:3px;
    height:25px;
    background-image: url(http://design.jboss.org/blip/guvnor-ui/html/resources/images/tab-corner-right.png);
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position-x: 100%;
    background-position-y: 0%;
}


.tab-left {
    width:3px;
    height:25px;
    background-image: url(http://design.jboss.org/blip/guvnor-ui/html/resources/images/tab-corner-left.png);
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
}*/

.gwt-TabBarItem {
    font-size:11px!important;

}

.help-panel * {
    font-size:11px!important;
}

.help-panel-open {
    background: #c0cebc;
}


.default-cell-table{
    font-family:Arial, Verdana, sans-serif;
    font-size:11px!important;
    color: black;
    border: none;
    width:100%;
}

.cellTableHeader {
    background:none;
    color:#4A5D75;
    padding:4px;
    height:13px;
    border-bottom:1px solid rgb(200,204,207);
    border-left: 1px solid rgb(200,204,207);
    border-right:none;
    font-weight:bold!important;
    text-align:left!important;
    font-size: 11px!important;
}

.cellTableOddRowCell, .cellTableEvenRowCell {
    border-left: 1px solid rgb(200,204,207);
}


.cellTableFirstColumnHeader, .cellTableFirstColumn  {
    border-left: none;
}

.cellTableLastColumn {

}

.cellTableLastColumnHeader, .cellTableLastColumn {
    border-left: 1px solid rgb(200,204,207);
}

.cellTableEvenRow {

}

.cellTableOddRow {
    border-top: 1px solid #e5e5e5;
    background-color:#fafafa;
}

.cellTableCell {
    padding:5px;
    font-size:11px!important;
}

.cellTableHoveredRow {
    background-color:#fdfcce;
    cursor: pointer;
}

.cellTableSelectedRow {
    /*background:#E8E8E9;*/
    background-color: #E5EFF6;
    /*background: #c0cebc*/
    /*border: 1px solid #CCDDE7;*/
}

/*edit mode*/
.cellTableKeyboardSelectedRow {
    /*background:none; doesn't work atm */
}


.footer-panel {
    background: none;
    /* Mozilla: */
    background: -moz-linear-gradient(top, #ffffff, #E8E8E9);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
    left top, left bottom, from(#ffffff), to(#E8E8E9));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#ffffff', EndColorStr='#E8E8E9', GradientType=0);

}

/* fake tab header*/

.tab-title {
    height:26px!important;
    padding-top:0px;
    padding-botom:0px;
    padding-left:5px;
    padding-right:5px;
    vertical-align:middle;
    font-size:12px;
    font-weight: BOLD;
    white-space:nowrap;
    color:white;

    background: url(images/rh/tabs/tab-active-center.png) repeat-x top;
    background-color: #ffffff;
}

.tab-right {
    width:15px;
    height:26px!important;
    background: url(images/rh/tabs/tab-active-right.png) no-repeat top right;
    background-position-x: 100%;
    background-position-y: 0%;
}

.tab-left {
    width:15px;
    height:26px!important;
    background: url(images/rh/tabs/tab-active-left.png) no-repeat top left;
}

.title-bar-panel {
    border: none;
    background: url(images/rh/tabs/tabs-bg.png) repeat-x bottom;
}

/* regular gwt tabs */

.gwt-TabLayoutPanelTab, .gwt-TabLayoutPanelTab-selected {
    position: relative;
    height: 26px;
    width: auto;
    margin-left: -16px;
}

.gwt-TabLayoutPanelTab .gwt-TabLayoutPanelTabInner,
.gwt-TabLayoutPanelTab-selected .gwt-TabLayoutPanelTabInner {
    height: 26px;
    padding-left: 15px;
}

.gwt-TabLayoutPanelTab {
    background: url(images/rh/tabs/tab-inactive-left.png) no-repeat bottom left;
    cursor: pointer;
}

.gwt-TabLayoutPanelTab .gwt-TabLayoutPanelTabInner {
    background: url(images/rh/tabs/tab-inactive-right.png) no-repeat bottom right;
}

.gwt-TabLayoutPanelTab-selected {
    background: url(images/rh/tabs/tab-active-left.png) no-repeat bottom left;
    z-index: 1;
    cursor: default;
}

.gwt-TabLayoutPanelTab-selected .gwt-TabLayoutPanelTabInner {
    background: url(images/rh/tabs/tab-active-right.png) no-repeat bottom right;
}

.gwt-TabLayoutPanelTabs {
    background: url(images/rh/tabs/tabs-bg.png) repeat-x bottom;
    padding-left: 2em;
    margin-left: 2px;
    margin-right: 4px;
}

.gwt-TabLayoutPanelTabInner div {
    color: #444;
    padding-top: 6px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
    height: 26px;
    text-align: center;
    margin-right: 15px;
}

.gwt-TabLayoutPanelTab .gwt-TabLayoutPanelTabInner div {
    background: url(images/rh/tabs/tab-inactive-center.png) repeat-x top;
}

.gwt-TabLayoutPanelTab-selected .gwt-TabLayoutPanelTabInner div {
    background: url(images/rh/tabs/tab-active-center.png) repeat-x top;
    color:#ffffff;
}

.gwt-PopupPanelGlass {
    z-index: 5;
}

.default-window {
    z-index: 10;
}

.host-selector-header {
    background-image: none;
    background-color: #3A4E64;
}

